/*
Författare: Leander Norberg
Projketnamn: Moment 1
Beskrivning: Automatisering & publicering, 
Frontend-baserad webbutveckling (DT211G) VT26
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	margin: 0; 
    padding: 0;
	background-color: white;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p, .menuButton{
    font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: lighter;
	line-height: 1.5em;
	color: black;
}

a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
	font-weight: 600;
    color: #262262;
    text-decoration: none;
}

a:visited {
    color: #45005C;
}

h1, h2{
    font-family: "Noto Sans", sans-serif;
	font-weight: 600;
    font-size: 28px;
    text-align: left;
    color: black;
}

h2 {
    font-size: 36px;
    text-align: center;
}

header {
    margin: 0; 
    padding: 0 10vw;
    display: flex;
    background-color: white;
    align-items: center; 
    box-shadow: 0px 0px 10px 0px rgb(54, 54, 54);
    position: relative;
}

nav {
    margin-left: auto;
}

section{
    padding: 100px 35vw;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: auto;
}

li a, li a:visited {
    color: black;
}

li a:hover {
    border-bottom: 2px solid black;
}

.menuButton {
    margin-left: auto;
    display: none;
    background: none;
    border: none;
	font-weight: bold;
    cursor: pointer;
}

footer {
    margin-top: auto;
    padding: 3em 0;
    text-align: center;
    background-color: #45005C;
}

footer p {
    font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: lighter;
    color: white;
	line-height: 1.5em;
}

@media only screen and (max-width: 1400px) {
    .menuButton {
        display: block;
    }

    nav {
        position: absolute;
        right: 0;
        top: 130%;
        display: none;
        height: 60vh;
        width: 200px;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgb(54, 54, 54);
    }

    nav.open {
        display: block;
    }

    ul {
        margin-top: 30px;
        display: block;
        line-height: 2em;
    }    

    section {
        padding: 100px 20vw;
    }
  }

@media only screen and (max-width: 900px) {
    header {
        padding: 0 10px;
    }

    section {
        padding: 20px 10px;
    }

    h1 {
        font-size: 22px;
    }
}